/** @format */
:root {
  --title-font: "Cinzel Decorative", cursive;
  --Roosevelt-font: "Dancing Script", cursive;
  --primary-font: "Marcellus", serif;
  --secondary-font: "Corben", cursive;
  --section-color: azure;
  --bg-color: rgb(248, 219, 241);
}

html {
  background-color: var(--bg-color);
}
.App {
  background: var(--bg-color);
  padding: 20px;

  margin: 0 auto;
  font-family: var(--primary-font);
}

.App-header {
  margin: 20px 0;
}
.App-header,
main,
.App-footer {
  text-align: center;
}

#logo {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  margin: 40px;
  font-size: 12px;
}

.initial-question {
  padding: 20px;
  font-family: var(--Roosevelt-font);
  font-size: 20px;
}

h1 {
  font-family: var(--title-font);
}

.Dictionary section {
  background-color: var(--section-color);
  border-radius: 12px;

  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.4);
}

form {
  padding: 20px;
}

.input-search {
  border-radius: 5px;
  box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.4);
  border: 1px transparent;
}

.button {
  border-radius: 5px;
  box-shadow: 6px 5px 5px rgba(0, 0, 0, 0.4);

  background-color: #969cee;
  border: 1px transparent;
  color: aliceblue;
}
.button:hover {
  text-decoration: none;
  background-color: blanchedalmond;
  transition: all 300ms ease-in-out;
  color: blue;
}
.Results {
  text-align: left;
  margin: 10px;
}

.Results section {
  background-color: var(--section-color);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.4);
  margin: 10px;
}

h2 {
  font-family: var(--secondary-font);
}
.phonetic-player {
  text-decoration: none;
}
.Meaning {
  padding: 10px;
}
.Meaning span {
  opacity: 0.7;
  font-size: smaller;
}

.Meaning .example {
  font-size: 14px;
}

.Example {
  margin: 5px 0;
}
.Synonyms {
  font-size: 14px;
  margin: 5px 0;
  padding: 0;
}
.Synonyms li {
  display: inline-block;
  padding-right: 10px;
  line-height: 1;
}

.Photos {
  background-color: var(--section-color);
  border-radius: 12px;
  margin: 10px 20px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.4);
  padding: 20px;
}

.Pexels-pic {
  margin: 10px auto;
  border-radius: 6px;
}

.motherbaby section {
  margin: 10px 20px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.4);
  padding: 20px;
}

.fairy-img {
  border-radius: 12px;
}
