/** @format */
html {
  background-color: aquamarine;
}
.App {
  background: rgb(248, 219, 241);
  padding: 20px;
}

.App-header {
  margin: 20px 0;
}
.App-header,
main,
.App-footer {
  text-align: center;
}

#logo {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  margin: 40px;
  font-size: 12px;
}

.initial-question {
  padding: 10px;
}

.Dictionary section {
  background-color: azure;
  border-radius: 12px;

  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4);
}

form {
  padding: 20px;
}

.input-search {
  border-radius: 5px;
  box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.4);
  border: 1px transparent;
}

.button {
  border-radius: 5px;
  box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.4);

  background-color: #969cee;
  border: 1px transparent;
  color: aliceblue;
}
.button:hover {
  text-decoration: none;
  background-color: blanchedalmond;
  transition: all 300ms ease-in-out;
  color: blue;
}
.Results {
  text-align: left;
  margin: 10px;
}

.Results section {
  background-color: azure;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4);
  margin: 10px;
}

.phonetic-player {
  text-decoration: none;
}
.Meaning {
  padding: 10px;
}
.Meaning span {
  opacity: 0.7;
  font-size: smaller;
}

.Meaning .example {
  font-size: 14px;
}

.Example {
  margin: 5px 0;
}
.Synonyms {
  font-size: 14px;
  margin: 5px 0;
  padding: 0;
}
.Synonyms li {
  display: inline-block;
  padding-right: 10px;
  line-height: 1;
}
